@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.light {
    --blue60: #0F62FE;
    --gray10: #F4F4F4;
    --bg: #e5e0de;
    --b: #000;
    --w: #ffffff;
    --gray20: #eceeee;
    --green: #42be65;

    background-color: var(--bg);
    color: var(--b);

    .menu {
        background-color: var(--w);
        color: var(--b);
    }

    .link-btn {
        background-color: var(--blue60);
        color: var(--w);
    }

    .tab-btn {
        border-color: var(--blue60);
    }

    .tab-btn.active {
        background-color: var(--blue60);
        color: var(--w);
    }

    .project,
    .task {
        background-color: var(--w);
    }

    .modal {
        background-color: var(--w);
    }

    .project-dateDetails {
        background-color: var(--green);
        color: var(--w);
    }

    .progress {
        background-color: var(--gray20);

        &-bar {
            background-color: var(--green);
        }
    }

    .create {
        background-color: var(--w);
        box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);

        &__btn {
            outline-color: var(--b);
            background-color: var(--gray20);
            color: var(--b);
        }

        &__btn-submit {
            background-color: var(--blue60);
            color: var(--w);
        }
    }

    @media screen and (min-width:600px) {
        .nav {
            background-color: var(--gray20);
        }

        .menu {
            background: unset;
        }

        .link-btn {
            color: var(--b);
        }
    }
}

.dark {
    --cb: #191d20;
    --bg: #080808;
    --b: #0043ce;
    --w: #ffffff;

    background-color: var(--bg);
    color: var(--w);

    input[type="date"]::-webkit-inner-spin-button,
    ::-webkit-calendar-picker-indicator {
        filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) invert(100%);
    }

    .menu {
        background-color: var(--cb);
    }

    .link-btn {
        background-color: var(--b);
    }

    .tab-btn {
        border-color: var(--b);
    }

    .tab-btn.active {
        background-color: var(--b);
    }

    .project,
    .task {
        background-color: var(--cb);
    }

    .modal {
        background-color: var(--cb);
    }

    .project-dateDetails {
        background-color: var(--b);
    }

    .progress {
        background-color: var(--bg);

        &-bar {
            background-color: var(--b);
        }
    }

    .create {
        background-color: var(--cb);

        &__btn {
            outline-color: var(--b);
            background-color: var(--bg);
            color: var(--w);
        }

        &__btn-submit {
            background-color: var(--b);
            color: var(--w);
        }
    }

    @media screen and (min-width:600px) {
        .nav {
            background-color: var(--cb);
        }

        .menu {
            background: unset;
        }
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
}

.nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.logo {
    font-size: 2.8rem;
}

.darkmode {
    display: flex;
    gap: 15px;
}

.darkmode-item {
    display: none;
    height: 40px;
    width: 40px;
    font-size: 2.4rem;
    cursor: pointer;
}

.darkmode-item.active {
    display: grid;
    place-content: center;
}

.menu {
    width: 100%;
    height: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: fixed;
    bottom: 0;
    left: 0;

    &__text {
        font-size: 2.4rem;
        display: none;
    }

    &-links {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            cursor: pointer;

            span {
                font-size: 1.5rem;
            }

            i {
                font-size: 2.2rem;
            }
        }

        .link-btn {
            justify-content: center;
            justify-self: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;

            span {
                display: none;
            }
        }
    }
}

// Buttons

.tab {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-evenly;

    &-btn {
        font-size: 1.6rem;
        border: 2px solid;
        border-radius: 20px;
        padding: 6px 12px;
        cursor: pointer;
    }
}

@mixin card {
    padding: 12px 16px;
    width: 300px;
    max-width: 300px;
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 15px;
}

.main {
    padding-bottom: 100px;
}

// Project and Task box

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    @include card();
    display: flex;
    flex-direction: column;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 1.9rem
    }

    &__settings {
        font-size: 2rem;
    }

    &__date {
        font-size: 1.2rem;
        padding: 10px 0 20px 0;
    }

    &-date {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    &-dateDetails {
        padding: 4px 10px;
        border-radius: 20px;
        font-size: 1.4rem;
    }

    &__leftime {
        font-size: 1.4rem;
    }

    .progress {
        margin-top: 18px;
        width: 100%;
        height: 10px;
        border-radius: 10px;

        &-bar {
            width: 20%;
            height: inherit;
            border-radius: inherit;
            transition: all 1s ease;
        }
    }
}

.task {
    @include card();
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 2rem;
        padding-bottom: 6px;
    }

    &__date {
        font-size: 1.3rem;
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 6px;

        input {
            height: 20px;
            width: 20px;
        }

        i {
            font-size: 2.4rem;
        }
    }
}

// Modal

.modal {
    padding: 12px;
    border-radius: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    left: calc(50% - 55px);
    bottom: 90px;

    &__project,
    &__task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    p {
        font-size: 1.8rem;
    }

    i {
        font-size: 2rem;
    }
}

// Create Modal

@mixin btn {
    width: 280px;
    max-width: 350px;
    border: none;
    padding: 14px;
    font-size: 1.6rem;
}

.create {
    width: 100%;
    padding: 40px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
    left: 0;

    &__p {
        font-size: 2.4rem;
        text-align: center;
        padding-bottom: 16px;
    }

    &-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    &__btn {
        border-radius: 6px;
        @include btn();
    }

    &__btn-submit {
        border-radius: 20px;
        @include btn();
        cursor: pointer;
    }
}

@media screen and (min-width:600px) {

    .wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 200px 1fr;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        height: 100vh;
        padding: 10px 15px;
        position: fixed;
        left: 0;
        top: 0;
    }

    .logo {
        padding-top: 20px;
    }

    .darkmode {
        margin: 0 auto;
    }

    .menu {
        height: auto;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        border-radius: unset;
        gap: 20px;
        position: static;

        &__text {
            display: block;
        }

        &-links {
            flex-direction: column;
            gap: 12px;

            &__item {
                width: 100%;
                padding: 8px;
                flex-direction: row;
            }

            .link-btn {
                background-color: unset;
                width: 100%;
                height: auto;
                justify-content: flex-start;

                span {
                    display: block;
                }
            }
        }
    }

    .modal {
        left: 200px;
        bottom: calc(50% - 55px);
    }

    .create {
        bottom: 250px;
        left: 205px;
        width: 300px;
        border-radius: 20px;
    }

    .tab {
        margin: 80px 0 40px 0;
    }

    .project-box,
    .task-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width:800px) {

    .project-box,
    .task-box {
        gap: 12px;
    }
}