@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.light {
  --blue60: #0F62FE;
  --gray10: #F4F4F4;
  --bg: #e5e0de;
  --b: #000;
  --w: #ffffff;
  --gray20: #eceeee;
  --green: #42be65;
  background-color: var(--bg);
  color: var(--b);
}

.light .menu {
  background-color: var(--w);
  color: var(--b);
}

.light .link-btn {
  background-color: var(--blue60);
  color: var(--w);
}

.light .tab-btn {
  border-color: var(--blue60);
}

.light .tab-btn.active {
  background-color: var(--blue60);
  color: var(--w);
}

.light .project,
.light .task {
  background-color: var(--w);
}

.light .modal {
  background-color: var(--w);
}

.light .project-dateDetails {
  background-color: var(--green);
  color: var(--w);
}

.light .progress {
  background-color: var(--gray20);
}

.light .progress-bar {
  background-color: var(--green);
}

.light .create {
  background-color: var(--w);
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.light .create__btn {
  outline-color: var(--b);
  background-color: var(--gray20);
  color: var(--b);
}

.light .create__btn-submit {
  background-color: var(--blue60);
  color: var(--w);
}

@media screen and (min-width: 600px) {
  .light .nav {
    background-color: #F4F6F7;
  }
  .light .menu {
    background: unset;
  }
  .light .link-btn {
    color: var(--b);
  }
}

.dark {
  --cb: #191d20;
  --bg: #080808;
  --b: #0043ce;
  --w: #ffffff;
  background-color: var(--bg);
  color: var(--w);
}

.dark input[type="date"]::-webkit-inner-spin-button,
.dark ::-webkit-calendar-picker-indicator {
  -webkit-filter: drop-shadow(16px 16px 20px white) invert(100%);
          filter: drop-shadow(16px 16px 20px white) invert(100%);
}

.dark .menu {
  background-color: var(--cb);
}

.dark .link-btn {
  background-color: var(--b);
}

.dark .tab-btn {
  border-color: var(--b);
}

.dark .tab-btn.active {
  background-color: var(--b);
}

.dark .project,
.dark .task {
  background-color: var(--cb);
}

.dark .modal {
  background-color: var(--cb);
}

.dark .project-dateDetails {
  background-color: var(--b);
}

.dark .progress {
  background-color: var(--bg);
}

.dark .progress-bar {
  background-color: var(--b);
}

.dark .create {
  background-color: var(--cb);
}

.dark .create__btn {
  outline-color: var(--b);
  background-color: var(--bg);
  color: var(--w);
}

.dark .create__btn-submit {
  background-color: var(--b);
  color: var(--w);
}

@media screen and (min-width: 600px) {
  .dark .nav {
    background-color: var(--cb);
  }
  .dark .menu {
    background: unset;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  width: 100%;
}

.nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

.logo {
  font-size: 2.8rem;
}

.darkmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.darkmode-item {
  display: none;
  height: 40px;
  width: 40px;
  font-size: 2.4rem;
  cursor: pointer;
}

.darkmode-item.active {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.menu {
  width: 100%;
  height: 80px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu__text {
  font-size: 2.4rem;
  display: none;
}

.menu-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}

.menu-links__item span {
  font-size: 1.5rem;
}

.menu-links__item i {
  font-size: 2.2rem;
}

.menu-links .link-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.menu-links .link-btn span {
  display: none;
}

.tab {
  margin: 30px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tab-btn {
  font-size: 1.6rem;
  border: 2px solid;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.main {
  padding-bottom: 100px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding: 12px 16px;
  width: 300px;
  max-width: 300px;
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__title {
  font-size: 1.9rem;
}

.project__settings {
  font-size: 2rem;
}

.project__date {
  font-size: 1.2rem;
  padding: 10px 0 20px 0;
}

.project-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-dateDetails {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 1.4rem;
}

.project__leftime {
  font-size: 1.4rem;
}

.project .progress {
  margin-top: 18px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.project .progress-bar {
  width: 20%;
  height: inherit;
  border-radius: inherit;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.task {
  padding: 12px 16px;
  width: 300px;
  max-width: 300px;
  -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 15px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__title {
  font-size: 2rem;
  padding-bottom: 6px;
}

.task__date {
  font-size: 1.3rem;
}

.task-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.task-btn input {
  height: 20px;
  width: 20px;
}

.task-btn i {
  font-size: 2.4rem;
}

.modal {
  padding: 12px;
  border-radius: 20px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  position: fixed;
  left: calc(50% - 55px);
  bottom: 90px;
}

.modal__project, .modal__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal p {
  font-size: 1.8rem;
}

.modal i {
  font-size: 2rem;
}

.create {
  width: 100%;
  padding: 40px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.create__p {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 16px;
}

.create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.create__btn {
  border-radius: 6px;
  width: 280px;
  max-width: 350px;
  border: none;
  padding: 14px;
  font-size: 1.6rem;
}

.create__btn-submit {
  border-radius: 20px;
  width: 280px;
  max-width: 350px;
  border: none;
  padding: 14px;
  font-size: 1.6rem;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 200px;
    height: 100vh;
    padding: 10px 15px;
    position: fixed;
    left: 0;
    top: 0;
  }
  .logo {
    padding-top: 20px;
  }
  .darkmode {
    margin: 0 auto;
  }
  .menu {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    border-radius: unset;
    gap: 20px;
    position: static;
  }
  .menu__text {
    display: block;
  }
  .menu-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .menu-links__item {
    width: 100%;
    padding: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu-links .link-btn {
    background-color: unset;
    width: 100%;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .menu-links .link-btn span {
    display: block;
  }
  .modal {
    left: 200px;
    bottom: calc(50% - 55px);
  }
  .create {
    bottom: 250px;
    left: 205px;
    width: 300px;
    border-radius: 20px;
  }
  .tab {
    margin: 80px 0 40px 0;
  }
  .project-box,
  .task-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .project-box,
  .task-box {
    gap: 12px;
  }
}
/*# sourceMappingURL=main.css.map */